.disaster-detail {
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* background-color: #f9f9f9; */
}

.disaster-sect {
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ececec;
}

.disaster-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.disaster-info {
    margin-bottom: 20px;
}

.volunteer-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.volunteer-status {
    color: #17a2b8;
}

.materials-section {
    margin-top: 30px;
}

.materials-list {
    list-style: none;
    padding: 0;
}

.material-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.accept-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}

.delete-button {
    background-color: #ff0000;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.fulfilled-status {
    color: #6c757d;
    font-style: italic;
}

.add-material {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

.material-input {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 45%;
}

.add-material-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loading {
    text-align: center;
    font-size: 18px;
    color: #333;
}

.error {
    text-align: center;
    font-size: 18px;
    color: #dc3545;
}

.posts-section {
    padding: 20px;
    width: 600px;
    border-radius: 10px;
    background-color: #ececec;
}

.post-form {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 6px;
}

.post-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.add-post-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-post-button:hover {
    background-color: #0056b3;
}

.posts-list {
    list-style-type: none;
    height: 380px;
    overflow: auto;
    padding: 0;
}

.post-item {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #ccc;
    gap: 5px;
}

.post-image {
    max-width: 400px;
    height: auto;
    border-radius: 5px;
}

.delete-post-button {
    padding: 10px 15px;
    width: 200px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    top: 10px;
    right: 10px;
}

.delete-post-button:hover {
    background-color: #c82333;
}

.location-preview {
    margin-top: 10px;
}

.location-preview iframe {
    border-radius: 8px;
    margin-bottom: 10px;
}

.location-preview a {
    color: #007bff;
    text-decoration: none;
}

.location-preview a:hover {
    text-decoration: underline;
}